<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhk.dao.MenuMapper">


    <select id="selMenu" resultType="com.mhk.pojo.entity.Menu">
        select bm.* from base_menu bm
                             left join  base_role_menu brm on brm.menuId=bm.id
                             left join base_role br on brm.roleId=br.id
        where bm.leval=#{leval} and bm.parentId=#{pid} and brm.roleId=#{roleId}
    </select>

    <insert id="add">
        insert into base_menu(id,menuName,url,leval,parentId) values(#{id},#{menuName},#{url},#{leval},#{parentId});
    </insert>

    <update id="update">
        update base_menu set menuName=#{menuName},
                             url=#{url}
                             where id = #{id}
    </update>

    <delete id="del">
        delete from base_menu where id = #{id}
    </delete>




    <delete id="delByMenuId">
        delete from base_role_menu where menuId = #{menuId}
    </delete>

</mapper>